<ion-content class="messages-page">
<div class="page-hero">

  <span class="page-greeting">
    💬 Centro de mensajes
  </span>

  <h1>
    Mensajes
  </h1>

  <p>
    Conversa con profesionales y clientes desde un solo lugar.
  </p>

</div>
  <!-- Estado vacío -->
  <div class="empty-state" *ngIf="$any(this).loaded && !loading && conversations.length === 0 && !conversationNotFound">
    <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
    <h3>No tienes conversaciones</h3>
    <p>Cuando tengas citas activas podrás conversar aquí.</p>
  </div>

  <div class="empty-state" *ngIf="$any(this).loaded && !loading && conversationNotFound">
    <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
    <h3>No existe una conversacion previa</h3>
    <p>Cuando se envie el primer mensaje, la conversacion aparecera aqui.</p>
  </div>

  <!-- Lista -->
  <ion-list lines="none">

    <ion-item
      *ngFor="let conv of conversations"
      [routerLink]="['/tabs/messages', conv.conversationId]"
      button
      class="conversation-item"
    >

      <ion-avatar slot="start">
        <img [src]="conv.otherUser?.professional?.image || '/default-avatar.png'" />
      </ion-avatar>

      <ion-label>
        <div class="top-row">
          <h2>
  {{ conv.otherUser?.name || conv.otherUser?.email || 'Usuario' }}
</h2>
          <span class="time">
            {{ conv.lastMessage?.createdAt | date:'shortTime' }}
          </span>
        </div>

        <div class="bottom-row">
          <p>{{ conv.lastMessage?.content }}</p>

          <ion-badge
            color="primary"
            *ngIf="conv.unreadCount > 0"
          >
            {{ conv.unreadCount }}
          </ion-badge>
        </div>
      </ion-label>

    </ion-item>

  </ion-list>

</ion-content>
